/* PokemonCard */
.pokemon-card {
    flex: 1 1 300px;
    max-width: 300px;
    box-sizing: border-box;
    border: 4px solid #3b3737;
    border-radius: 8px;
    background-color: rgb(189, 236, 187);
    color: black;
    padding: 1.5rem;
    margin: 4px;
    text-align: center;
    transition: transform 0.2s;

}

.pokemon-card:hover {
    transform: scale(1.05);
}

.pokemon-card img {
    width: 150px;
    height: 150px;
}

/* PokemonList */
.pokemon-list {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 20px;
    justify-content: center;
}

